<%- include('header') %>
    <link rel="stylesheet" href="/home.css">
    <style>
        * {
            text-align: left;
        }

        a {
            text-decoration: none;
        }

        .signup-container {
            padding: 2rem;
            background-color: lightcoral;
            width: 70%;
        }

        .form-input {
            margin: 1rem;
        }

        .form-input input {
            width: 90%;
        }

        small {
            color: black;
        }
        .input-error{
            color: red;
        }
    </style>
    <h1 id="welcome-msg">
        Sign In
    </h1>
    <div class="signup-container">
        <form action="/auth/signin" method="post">
            <div class="form-input">
                <label for="username">Username : </label>
                <input type="text" name="username" id="username">
                <br>
                <small class="input-error">
                    <%= usernameError %>
                </small>
            </div>
            <div class="form-input">
                <label for="password">Password : </label>
                <input type="password" name="password" id="password">
                <br>
                <small class="input-error">
                    <%= passwordError %>
                </small>
            </div>
            <button class="btn btn-danger">Sign In</button>
        </form>
    </div>
    <small>Need a account? <a href="/auth/signup">Sign Up</a></small>
<%- include('footer') %>