body {
    background-image: linear-gradient(
        to bottom left,
        rgb(255, 209, 209) 800px,
        #dc3545 5px
    );
    min-height: 100vh;
}
.container {
    margin: auto;
    max-width: 1200px;
}
.divDateTimeContainer {
    color: white;
    width: 80%;
    max-width: 30rem;
    background-color: #dc3545;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 4px 4px 2px grey;
    text-align: center;
    margin: 0.5rem auto;
}
.divTodolistContainer {
    width: 80%;
    padding: 0.5rem;
    max-width: 30rem;
    border-radius: 5px;
    margin: 3rem auto;
    box-shadow: 4px 4px 2px grey;
    background-color: white;
}
.divDate {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: bolder;
    font-size: 2rem;
}
.divTime {
    font-family: "Yusei Magic", sans-serif;
}
.divTodolistItems {
    font-size: 1.5rem;
    font-family: "PT Sans Narrow", sans-serif;
}
.divTodolistItem {
    position: relative;
}
input[type="checkbox"] {
    position: absolute;
    top: 0;
}
input:checked ~ .divLabel {
    color: grey;
    text-decoration: line-through;
}
.divTodolistItem:last-child .divLabel {
    border-bottom: 0px;
}
.divTodolistAddNewItem {
    text-align: center;
}
.divLabel {
    display: inline-block;
    width: calc(100% - 30px);
    margin-left: 30px;
    border-bottom: 1px solid rgb(150, 141, 141);
}
.inpNewItem {
    width: 60%;
    border: 0px;
    font-size: 1.5rem;
    border-bottom: 2px solid #dc3545;
    outline: none;
    margin-right: 2rem;
    color: grey;
    text-align: center;
    margin: auto;
}

.btnAddNewItem {
    border: none;
}
.spanIcon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #dc3545;
    position: relative;
    top: -10px;
}
.btnAddNewItem:hover,
.spanIcon:hover {
    background-color: rgb(168, 2, 2);
}
.iIcon {
    position: relative;
    top: 8px;
}
.dialog {
    background-color: rgb(226, 218, 218);
    color: black;
    border: 1px solid black;
    padding: 1px;
}
.btnAndIcon {
    display: inline-block;
    margin-top: 1rem;
}
